<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="typeid" class="test_xml.Membertype"/>
    <bean id="addressid" class="AnnotationConfig.Address"/>

    <context:component-scan base-package="test_xml"/>
    <bean id="saysalam" class="tahlil.hello">
        <property name="message" value="salam for test"/>
    </bean>
    <bean id="saysalam_prototype" class="tahlil.hello" scope="prototype">
        <property name="message" value=""/>
    </bean>

    <bean id="parent" class="Autowired.Member">
        <property name="Address">
            <bean id="child" class="Autowired.MemberType"/>
        </property>
    </bean>
</beans>